@import '@popsure/dirty-swan/dist/grid';

.buttons {
  display: flex;
  justify-content: space-between;
}

.question {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 85vw;
  min-height: 40vh;
  @include p-size-mobile {
    // If the screen width is < 34rm, the following gets applied
    max-width: 85vw;
  }

  @include p-size-tablet {
    // If the screen width is < 34rm, the following gets applied
    max-width: 43vw;
  }

  @include p-size-desktop {
    // If the screen width is < 34rm, the following gets applied
    max-width: 34vw;
  }
}
