
.header-container {
  display: flex;
  position: relative;
  height: 72px;
  width: 100%;
  background-color: #fff;
  z-index: 90;
}

.header {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
  max-width: 1124px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
}

.name {
  display: flex;
  align-items: center;
  margin-left: -105px;
  height: 5vh;
  width: 110px;
  background-color: #fff;;
}

.language-selector-box {
  float: right;
}
/*
.question {
  height: 30vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.question .buttons {
  /* width: ; */
  display: flex;
  justify-content: space-between;
}

.home-container,
.question {
  display: flex;
  flex-direction: column;
  min-width: 47vw;
  min-height: 40vh;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.logo {
  text-decoration: none;
}

.recommendation {
  padding: 5%;
  display: flex;
  justify-content: space-between;
  border: 1px;
  border-color: #5f7ba0;
  border-style: solid;
}

